---
import Inputs from "./Inputs.astro";
---
<div class="w-screen bg-[#00324D] text-center py-2  flex items-center justify-around">
    <div class="flex items-center gap-2">
       <Inputs placeholder="Buscar cursos" type="text"/>
    </div>
    <div class="flex items-center gap-2">
        <select class="text-black">
            <option value="">Seleccionar</option>
            <option value="">4 est</option>
            <option value="">3 est</option>
            <option value="">2 est</option>
        </select>
        <p class="text-white">Estrellas</p>
    </div>
    <div class="flex items-center gap-2">
        <select class="text-black">
            <option value="">Seleccionar</option>
            <option value="">Sistemas</option>
            <option value="">Gestion</option>
            <option value="">Diseño</option>
        </select>
        <p class="text-white">Categorias</p>
    </div>
</div>