<div class="w-2/3 h-1/2 flex flex-col px-10 gap-5">
    <div>
        <div><h2 class="text-[20px] font-bold">Titulo de curso:</></div>
        <input type="text" class="w-full bg-[#bbb] p-2 rounded-lg">
    </div>

    <div>
        <div><h2 class="text-[20px] font-bold">Descripcion de curso:</></div>
        <textarea cols="60" rows="5" class="w-full bg-[#bbb] p-1 rounded-lg"></textarea>
    </div>
    <div class="w-full flex items-center justify-center">
        <div class="w-1/2 flex flex-col items-start justify-center p-2">
            <h2 class="text-[18px] font-bold">Categoria:</h2>
            <input type="text" class="w-full bg-[#bbb] p-2 rounded-lg">
        </div>
        <div class="w-1/2 flex flex-col items-start justify-center p-2">
            <h2 class="text-[18px] font-bold">Instructor:</h2>
            <input type="text" class="w-full bg-[#bbb] p-2 rounded-lg">
        </div>
    </div>
</div>