---
import HeaderVisitor from "../../components/HeaderVisitor.astro";
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro'
import UsuarioNav from "../../components/UsuarioNav.astro";
import CursosUser from "../../components/CursosUser.astro";
---

<Layout title="Mis cursos">
    <HeaderVisitor/>
    <div class="flex justify-around items-center bg-[#F9F8F8] shadow-2xl bg-opacity-25 h-[600px]  gap-[40px] mb-[50px]  h-fit w-full ">
        <UsuarioNav/>
        
        
    </div>
    <Footer/>
</Layout>
