---
import Header from "../../components/Header.astro";
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro'
import AsideUser from "../../components/AsideUser.astro"
import Inputs from "../../components/Inputs.astro";
---

<Layout title="Informacion Usuario"> 
    <Header />
    <div class="w-full h-[750px] flex items-center justify-center gap-[5rem] mb-3">
        <AsideUser/>
        <div class="w-2/5 h-[600px] rounded-3xl flex flex-col items-center justify-center">
            <div class="w-full h-1/2 flex flex-col items-start justify-center px-10">
                <h2 class="font-bold">Informacion Basica:</h2>
                <Inputs placeholder="nombre" type="text"/>
                <Inputs placeholder="apellido" type="text"/>
                <Inputs placeholder="Titulo" type="text"/>
            </div>
            <div class="w-full h-1/2 flex flex-col items-start justify-center px-10">
                <h2 class="font-bold">Enlaces:</h2>
                <Inputs placeholder="nombre" type="text"/>
                <Inputs placeholder="apellido" type="text"/>
                <Inputs placeholder="Titulo" type="text"/>
            </div>
        </div>
    </div>
    <Footer/>
</Layout>
